.page {
    display: block;
}
  
.main {
    margin-left: calc(var(--desktop-margin-width) + (var(--spacing) * 3));
}

.btn {
    background: var(--main-color);
    color: var(--white-color);
    padding: .5rem 1.25rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: var(--border-radius);
    width: fit-content;
}